<!DOCTYPE html>
<html>
    <head>
               <!--<script type="text/javascript" src="/StudyTP5.0/public/static/lib/jquery/1.9.1/jquery.js"></script>--> 
 <script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.js"></script> 
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
        <script type="text/javascript">
            
             $(function(){
                 alert("OK2");
             });
        </script>
    </head>
    <body>
        <div>TODO write content555</div>
    </body>
</html>
